.container{
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: .5fr;
	grid-template-areas: 
	"containt1 containt2 containt3";
	grid-gap: 0.5rem;
	height: 500px;
	
}
.containt1{
	background: #A9A9A9;
	grid-area: containt1;
	font-family:arial, sans-serif;
	font-size: 17px;
	border:#333 2px solid;
}
.containt2{
	background: #A9A9A9;
	grid-area: containt2;
	font-family:arial, sans-serif;
	font-size: 17px;
	border:#333 2px solid;
}
.containt3{
	background: #A9A9A9;
	grid-area: containt3;
	font-family:arial, sans-serif;
	font-size: 17px;
	border:#333 2px solid;
}
.sec1{
	background: #FFB6C1;
	width: 90px;
	font-family:arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
    margin-left: 350px;
    text-align: center;
}
.sec2{
	background: #CD5C5C;
	width: 90px;
	font-family:arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
    margin-left: 350px;
    text-align: center;

}
.sec3{
	background: #F0E68C;
	width: 90px;
	font-family:arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
    margin-left: 350px;
     text-align: center;

}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.container{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .5fr .5fr;
	grid-template-areas: 
	"containt1 containt2"
	"containt3 containt3";
	}
	.sec1{
		 margin-left: 390px;
	}
	.sec2{
		 margin-left: 390px;
	}
	.sec3{
		 margin-left: 880px;
	}
}
@media only screen and (max-width: 767px) {
	.container{
	grid-template-columns: 1fr;
	grid-template-rows: .5fr .5fr .5fr;
	grid-template-areas: 
	"containt1"
	"containt2"
	"containt3";
	}
	.sec1{
		 margin-left: 635px;
	}
	.sec2{
		 margin-left: 635px;
	}
	.sec3{
		 margin-left: 635px;
	}
}
}

}