#row{
        margin: 15px;
    }
    hr{
        border: 2px solid black;
    }
    .navbar-brand {
        font-size: 1.5rem;
        font-family:arial, sans-serif;
    }

.box{
    background-color:#FAEBD7;
     margin: 2px auto;
    height: 1000px;
    border: 2px solid black;
     padding: 25px;
     font-family:verdana, sans-serif;
   
}
.menu{
    font-size: 2em;
}
h1.sub-title{
    text-align: center;
}

/* Desktop */
@media (min-width:768px)
{
    .navbar-nav{
        display: none;
    }
    .navbar-nav{
        display: none;
    }
    
    .navbar-dark .navbar-toggler-icon {
           background: none;
    }
    .navbar-dark .navbar-toggler {
        border: 1px;
    }

}
/* Tablet */
@media (min-width:576px) and (max-width:768px)
{

  

}
/* Mobile */

    @media (max-width:576px){



    


}
